body {
  font-family: system-ui;
  background: white;
  color: black;
  text-align: left;
  margin: 5px;
}
p{
  border: 5px solid;
  color: navy;
}
h1 { color:pink ;
  
  }
h2 { background-color:yellow;
}
h4 { color:navy;
}
#Sunny{

  margin: 0 auto;
  display: block;
}